@{
    ViewData["Title"] = "About";
}
    <div class="AboutPage_bg ">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>
            Basically, is web app that allows tenants who wants to rent a house or apartment<br />
            to send only one application and apply for multiple places.<br />
            As oppose of the current system where you must send and application<br />
            for each apartment which is inefficient and time consuming.
        </p>
    </div>
