@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way Test<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>

    <p>Support<a href="mailto:Support@example.com" class="button">Support@example.com</a></p><br />
    <p>Marketing<a href="mailto:Marketing@example.com">Marketing@example.com</a></p><br /><br />

</address>
