@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <img src="/images/propertyImage.jpg" class="responsive" />
        <div class="content">
            <h1>Welcome to Processing App</h1>
            <h1>Your Housing starts here.</h1>
            <div class="btn-group">
                <a href="/register" type="button" class="button">Register/ Login to get the house of your dreams</a>
            </div>
        </div>
        
     </div>
    

